lb_port: 8080
strategy: "weighted-round-robin"

enable_auth: true
auth_token: "my-secret"

enable_ratelimit: true
rate_limit_per_min: 5

enable_cache: true

backends:
  - url: "http://localhost:8081"
    weight: 1
  - url: "http://localhost:8082"
    weight: 3
  - url: "http://localhost:8083"
    weight: 1
